<?xml version="1.0" encoding="utf-8"?>
  <packages>
	<package id="7zip" />
	<package id="dotnet4.6.1" />
	<package id="everything" />
	<package id="firefox" />
	<package id="flashplayerpluigin">
	<package id="foxitreader" />
	<package id="googlechrome" />
	<package id="greenshot" />
	<package id="irfanview">
	<package id="jre8" />
	<package id="libreoffice">
	<package id="paint.net" />
	<package id="sublimetext3.packagecontrol" />
	<package id="windirstat" />
	<package id="ccleaner" />
	<package id="cccp" />
  </packages>
</xml>
